<head>
  <script type="text/javascript" src="../../assets/js/map.js"></script>
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="../../assets/js/application.js"></script>
  <script type="text/javascript" src="../../assets/js/index.js"></script>

  <script async defer
    src=
    "https://maps.googleapis.com/maps/api/js?key=AIzaSyBmCWMVKVJvNyUrCwP6yIwLApM9qFVpu2c&libraries=places,drawing,geometry&v=3&callback=initMap">
  </script>

  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/navbar.css">
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/welcome.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<title> Welcome! </title>
<div class="menu-bar">
    <ul>
      <li><a href="#about_landing">About</a></li>
      <li><a href="#latenight_landing">Late Night</a></li>
      <li><a href="#GBC_landing">GBC</a></li>
      <li><a href="#bearmarket_landing">Bear Market</a></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Cart', cart_path(current_user.cart.id) %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
<section class="module parallax parallax-1">
  <div class="container">
  <div id="about_landing"></div>
    <h1> UBEAR EATS </h1>
    <p> Cal dining to go. </p>
  </div>
</section>

<section class="module content">
  <div class="container">
    <p> What is UBEAR EATS?</p>
    <div id="map"></div>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
  <div id="latenight_landing"></div>
    <h1>Late Night</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2> Menu </h2>
    <p> Late Night Menu..
    <br>
    </p>
    <% count = 0 %>
    <% Item.all.each do |item| %>
      <% if count < 13 %>
      <div class="item-container">
        <div class="item"><%= item.item.to_s + ": $" + item.price.to_s %></div>
        <div class="quantity-buttons" id=<%="decrease-button-container#{count}" %>><%= button_to "<", cart_decrease_path(id: item.id), class: "quantity-decrease-button", id: "quantity-decrease#{count}", :method => :patch %></div>
        <div class="quantity-container"><h4 class="quantity" id=<%="number#{count}" %>>1</h4></div>
        <div class="quantity-buttons" id=<%="increase-button-container#{count}" %>><%= button_to ">", cart_increase_path(id: item.id), class: "quantity-increase-button", id: "quantity-increase#{count}", :method => :patch %></div>
        <div class="add-button-container"><%= button_to "+", cart_add_path(id: item.id), class: "add-button" %></div>
        <% count += 1 %>
      </div>
      <% end %>
    <% end %>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="container">
  <div id="GBC_landing"></div>
    <h1>Golden Bear Cafe</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
    <h2> GBC menu.. </h2>
  </div>
</section>

<section class="module parallax parallax-4">
  <div class="container">
  <div id="bearmarket_landing"></div>
    <h1>Bear Market</h1>
  </div>
</section>

<section class="module content">
  <div class="container">
  <h1> Bear Market catalog...</h1>

  </div>
</section>
